<!DOCTYPE html>
<html>
<head>
    <title>Owners Pets - Details</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/common.css" rel="stylesheet"/>
    <script src="~/Scripts/Pages/owner-details.js"></script>
    <script type="text/javascript">
        this.ownerId = @ViewData["ownerId"];
    </script>
</head>
<body ng-app="OwnerDetails" ng-controller="OwnerDetailsController" ng-cloak>
    <div class="index-header">
        <div class="row">
            <div class="col-md-12">
                <h1 align="center">{{ OwnerDetails.OwnerName }}'s pets</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a href="../../">Back to all Users</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="index-body">
        <div class="index-add_owner">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="pet_name_input" placeholder="Enter Pet's Name" ng-model="petNameModel" required="true" />
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" ng-click="petCreate_OnClick(petNameModel)">Add</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <hr class="index-hr" />
        <div class="index-owner_list">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row">
                        Total count: {{ OwnerDetails.Pets.length }}
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <th>
                                   <div class="row">
                                            <div class="col-md-10">
                                                Name
                                            </div>
                                            <div class="col-md-2 glyphicon glyphicon-triangle-{{sortDirection}} sortDirectionArrow" align="right" ng-click="sortDirection_OnClick()">
                                            </div>
                                    </div>
                                </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pet in Pages[currentPage].Items">
                                    <td>
                                        <div class="row">
                                            <div class="col-md-8">{{ pet.PetName }}</div>
                                            <div class="col-md-4" align="right">
                                                <button type="button" class="btn btn-default" ng-click="petDelete_OnClick(pet.PetId)">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" align="center">
                        <span ng-repeat="page in Pages">
                            <span class="pagination-item" ng-click="paginationItem_OnClick($index + 1);">
                                {{ $index + 1 }}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</body>
</html>