<!DOCTYPE html>
<html>
<head>
    <title>Owners Pets</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/Pages/owners-list-page.js"></script>
    <link href="~/Content/Pages/owners-list-page.css" rel="stylesheet" />
</head>
<body ng-app="OwnersPage" ng-controller="OwnersPageController">
    <div class="index-header">
        <div class="row">
            <div class="col-md-12">
                <h1 align="center">All Users</h1>
            </div>
        </div>
    </div>
    <div class="index-body">
        <div class="index-add_owner">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="owner_name_input" placeholder="Enter Pet Owner's Name" />
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary">Add</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <hr class="index-hr" />
        <div class="index-owner_list">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row">
                        Total count: {{ OwnersList.length }}
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Pets Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="owner in Pages[currentPage].Items">
                                    <td width="50%">{{ owner.Name }}</td>
                                    <td width="50%">
                                        <div class="row">
                                            <div class="col-md-8">{{ owner.PetsCount }}</div>
                                            <div class="col-md-4" align="right">
                                                <button type="button" class="btn btn-default">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" align="center">
                        <span ng-repeat="page in Pages">
                            <span class="pagination-item" ng-click="paginationItem_OnClick(page.Number);">{{ page.Number }} <span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</body>
</html>