<!DOCTYPE html>
<html>
<head>
    <title>Owners Pets</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/Pages/index.js"></script>
    <link href="~/Content/common.css" rel="stylesheet" />
</head>
<body>
    <div class="index-header">
        <div class="row">
            <div class="col-md-12">
                <h1 align="center">Oops.. Page not found</h1>
                <h2 align="center">But you can go to main page</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" align="center">
                <a href="../../">Back to all Users</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>